SUPABASE_URL = "https://auayebzxttjfigpcjxkm.supabase.co/rest/v1/"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1YXllYnp4dHRqZmlncGNqeGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwNzEyNTksImV4cCI6MjA5ODY0NzI1OX0.DSeb5Jlr9l2LIudz3b3tbn76mx5dL0cQF9I8UOEnCSk"
